
<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head load-balance="kurikulum.az 193">
<base href="https://kurikulum.az/">

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Kurikulum.az | Kurikulum Onlayn Təhsil Platforması </title>
<meta name="robots" content="index, follow">
<meta name="title" content="Kurikulum.az | Kurikulum Onlayn Təhsil Platforması " />
<meta name="description" content="Kurikulum OTP Azərbaycanın ilk Online Təhsil Platforması olmaqla sizə ölkənin ən peşəkar müəllimlərindən məhdudiyyətsiz təhsil almaq imkanı yaradır." />
<meta name="keywords" content="kurikulum,online tehsil">
<meta property="fb:app_id" content="517344252090890" />
<meta property="og:locale" content="AZ_az" />
<meta property="og:image" content="https://kurikulum.az/assets/img/logofb.jpg" />
<meta property="og:image:secure_url" content="https://kurikulum.az/assets/img/logofb.jpg" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:image:alt" content="Kurikulum.az | Kurikulum Onlayn Təhsil Platforması " />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kurikulum.az | Kurikulum Onlayn Təhsil Platforması " />
<meta property="og:site_name" content="Kurikulum.az | Kurikulum Onlayn Təhsil Platforması " />
<meta property="og:description" content="Kurikulum OTP Azərbaycanın ilk Online Təhsil Platforması olmaqla sizə ölkənin ən peşəkar müəllimlərindən məhdudiyyətsiz təhsil almaq imkanı yaradır." />
<meta property="og:url" content="https://kurikulum.az/" />
<meta property="og:updated_time" content="2024-06-15 15:22:49" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Kurikulum OTP Azərbaycanın ilk Online Təhsil Platforması olmaqla sizə ölkənin ən peşəkar müəllimlərindən məhdudiyyətsiz təhsil almaq imkanı yaradır." />
<meta name="twitter:title" content="Kurikulum.az | Kurikulum Onlayn Təhsil Platforması " />
<meta name="twitter:image" content="/assets/img/logofb.jpg" />
<meta name="device" content="desktop" />
<meta name="csrf_token" content="433dc8dd8c25a88ece8a437807f2fbc32179d3ef58776e82de97eb6282f229ac" />
<link rel="canonical" href="https://kurikulum.az/" />
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css?v=666d8c27bc083">
<script src="/assets/js/jquery/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="/assets/css/home2.css?v=666d798954c2b">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-FPXW0LHTFD"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FPXW0LHTFD');
    </script>

<script src="https://kurikulum.az/assets/js/sweetalert2/sweetalert2.js"></script>
</head>

<body>
<style type="text/css">
      #offline{
        display: none;
        justify-content: center;
        align-items: center;
        background: #f72f2f;
        border: 1px solid #b57f7f;
        /* border-radius: 6px; */
        position: fixed;
        top: 0px;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        font-size: 21px;
        color: white;
        z-index: 999;
      }
    </style>
<div id="offline">
İntenet bağlantınızı yoxlayın...
</div>
<div class="loaddiv" style="display: none;">
<div class="myloading">Yüklənir&#8230;</div>
<div class="text-load"><h3>Yüklənir, gözləyin...</h3></div>
</div>
<style type="text/css">
        body{
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
      </style>
<main id="appSite">
<header id="header">
<div class="container header-area">
<div class="row header row-max-width" style="margin-right: 0;margin-left: 0;">
<div class="col-md-2 desktop-loqo d-none d-md-block float-right pt-1">
<a href="/"><img src="https://kurikulum.az/uploads/images/statics/f44ff0daaeKurikulum-logo-online-tehsil-kicik.png" /></a>
</div>
<div class="col-md-6 pr0 px-0 cat-area d-none d-lg-block">
<div class="border">
<div class="category">
<a href="javascript:void(0)" onclick="openmenu()" class="category-down">
<span class="btn-grid">
&#x25a0;&#x25a0;<br/>
&#x25a0;&#x25a0;<br/>

</span>
<span class="category-text">Kateqoriya</span>
<img src="https://kurikulum.az/assets/img/drop2.png" id="categoryDown" width="35" />
</a>
<ul class="cat-ul" id="dropmenu">
<li class="cat-li down-sub">
<a href="search/category/miq">
<span class="cat-name">MİQ</span>
<span class="arrow-right icon-angle-right"></span> </a>
<ul class="dropdown-sub-menu"> <li class="cat-li down-sub">
<a href="search/category/miq-azerbaycan-dili-ve-edebiyyat">
<span class="cat-name">Azərbaycan dili və Ədəbiyyat</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-azerbaycan-dili-ve-edebiyyat-azerbaycan-dili">
<span class="cat-name">Azərbaycan dili</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-azerbaycan-dili-ve-edebiyyat-edebiyyat">
<span class="cat-name">Ədəbiyyat</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-azerbaycan-dili-ve-edebiyyat-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-azerbaycan-dili-ve-edebiyyat-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-ingilis-dili">
<span class="cat-name">İngilis dili</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-ingilis-dili-ingilis-dili">
<span class="cat-name">İngilis dili </span>
</a>
<li class="cat-li ">
<a href="search/category/miq-ingilis-dili-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-ingilis-dili-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-riyaziyyat-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-riyaziyyat-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-riyaziyyat-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-fizika">
<span class="cat-name">Fizika</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-fizika-fizika">
<span class="cat-name">Fizika</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-fizika-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-fizika-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-kimya">
<span class="cat-name">Kimya</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-kimya-kimya">
<span class="cat-name">Kimya</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-kimya-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-kimya-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-tarix">
<span class="cat-name">Tarix</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-tarix-tarix">
<span class="cat-name">Tarix</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-tarix-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-tarix-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-cografiya">
<span class="cat-name">Coğrafiya</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-cografiya-cografiya">
<span class="cat-name">Coğrafiya</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-cografiya-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-cografiya-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-biologiya">
<span class="cat-name">Biologiya</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-biologiya-biologiya">
<span class="cat-name">Biologiya</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-biologiya-mentiq">
<span class="cat-name">Məntiq</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-biologiya-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-ibtidai">
<span class="cat-name">İbtidai</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-ibtidai-azerbaycan-dili">
<span class="cat-name">Azərbaycan dili</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-ibtidai-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-ibtidai-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-ibtidai-mentiq">
<span class="cat-name">Məntiq</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/miq-informatika">
<span class="cat-name">İnformatika</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/miq-informatika-informatika">
<span class="cat-name">İnformatika</span>
</a>
<li class="cat-li ">
<a href="search/category/miq-informatika-kurikulum">
<span class="cat-name">Kurikulum</span>
</a>
</li></ul></li></ul> </li>
<li class="cat-li down-sub">
<a href="search/category/abituriyent">
<span class="cat-name">Abituriyent</span>
<span class="arrow-right icon-angle-right"></span> </a>
<ul class="dropdown-sub-menu"> <li class="cat-li down-sub">
<a href="search/category/abituriyent-i-blok-qrup">
<span class="cat-name">I Blok (Qrup)</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/abituriyent-i-blok-qrup-fizika">
<span class="cat-name">Fizika</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-i-blok-qrup-kimya">
<span class="cat-name">Kimya</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-i-blok-qrup-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/abituriyent-ii-blok-qrup">
<span class="cat-name">II Blok (Qrup)</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/abituriyent-ii-blok-qrup-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-ii-blok-qrup-cografiya">
<span class="cat-name">Coğrafiya</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-ii-blok-qrup-tarix">
<span class="cat-name">Tarix</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/abituriyent-iii-blok-qrup">
<span class="cat-name">III Blok (Qrup)</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/abituriyent-iii-blok-qrup-azerbaycan-dili">
<span class="cat-name">Azərbaycan dili</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-iii-blok-qrup-edebiyyat">
<span class="cat-name">Ədəbiyyat</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-iii-blok-qrup-tarix">
<span class="cat-name">Tarix</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/abituriyent-iv-blok-qrup">
<span class="cat-name">IV Blok (Qrup)</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/abituriyent-iv-blok-qrup-biologiya">
<span class="cat-name">Biologiya</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-iv-blok-qrup-kimya">
<span class="cat-name">Kimya</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-iv-blok-qrup-fizika">
<span class="cat-name">Fizika</span>
</a>
</li></ul> <li class="cat-li down-sub">
<a href="search/category/abituriyent-buraxilis">
<span class="cat-name">Buraxılış</span>
<span class="arrow-right icon-angle-right"></span>
</a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/abituriyent-buraxilis-azerbaycan-dili">
<span class="cat-name">Azərbaycan dili</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-buraxilis-ingilis-dili">
<span class="cat-name">İngilis dili</span>
</a>
<li class="cat-li ">
<a href="search/category/abituriyent-buraxilis-riyaziyyat">
<span class="cat-name">Riyaziyyat</span>
</a>
</li></ul></li></ul> </li>
<li class="cat-li down-sub">
<a href="search/category/diq">
<span class="cat-name">DİQ</span>
<span class="arrow-right icon-angle-right"></span> </a>
<ul class="dropdown-sub-menu"> <li class="cat-li ">
<a href="search/category/diq-direktorlarin-ise-qebulu">
<span class="cat-name">Direktorların İşə Qəbulu</span>
</a>
</li></ul> </li>
</ul>
</div>
<div class="search">
<form action="/search/" method="GET" class="serach-form" style="border-left: 2px solid #dadada;">
<input type="text" class="search-input" value name="q" placeholder="hansı dərsi axtarırsınız?" required>
<button class type="submit">
<span class="icon-search" style="color:blue;"></span>
</button>
</form>
</div>
</div>
</div>
<div class="col mob_area">
<div class="social-list d-none d-lg-block">
<ul class="social list-inline">
<li><a href="https://www.facebook.com/kurikulumpro/"><span class="icon-facebook-squared"></span></a></li>
<li><a href="https://www.youtube.com/channel/UCw8udgSRAmx99dgzgz-bRlw"><span class="icon-youtube-play"></span></a></li>
<li><a href="https://www.instagram.com/kurikulum.az"><span class="icon-instagram"></span></a></li>
</ul>
</div>
<span class="d-block d-lg-none m-menu">
<div class="hamburger" id="ham">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
<path d="M208 3505 c-138 -51 -214 -169 -206 -323 6 -124 68 -221 176 -274
          l47 -23 2335 0 2335 0 47 23 c60 30 120 90 150 150 33 68 33 216 0 284 -33 67
          -104 134 -169 158 -53 20 -71 20 -2366 19 -1934 0 -2318 -3 -2349 -14z" />
<path d="M208 2225 c-138 -51 -214 -169 -206 -323 6 -124 68 -221 176 -274
          l47 -23 1375 0 1375 0 47 23 c60 30 120 90 150 150 33 68 33 216 0 284 -33 67
          -104 134 -169 158 -53 20 -74 20 -1406 19 -1120 0 -1358 -3 -1389 -14z" />
</g>
</svg>
</div>
<nav class="nav-drill">
<ul class="nav-items nav-level-1">
<li class="nav-item">
<div class="left-menu-header not-logged">
Xoş Gəlmisiniz
</div>
</li>
<li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link nav-expand-link nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="javascript:void(0)">
<i class="icon-th-large"></i> Kateqoriyalar
</a>
</div>
<ul class="nav-items nav-expand-content">
<li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link nav-expand-link nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq">
MİQ </a>
</div>
<ul class="nav-items nav-expand-content"> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-azerbaycan-dili-ve-edebiyyat">
Azərbaycan dili və Ədəbiyyat
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-azerbaycan-dili-ve-edebiyyat-azerbaycan-dili">
Azərbaycan dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-azerbaycan-dili-ve-edebiyyat-edebiyyat">
Ədəbiyyat
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-azerbaycan-dili-ve-edebiyyat-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-azerbaycan-dili-ve-edebiyyat-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-ingilis-dili">
İngilis dili
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ingilis-dili-ingilis-dili">
İngilis dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ingilis-dili-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ingilis-dili-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-riyaziyyat">
Riyaziyyat
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-riyaziyyat-riyaziyyat">
Riyaziyyat
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-riyaziyyat-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-riyaziyyat-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-fizika">
Fizika
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-fizika-fizika">
Fizika
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-fizika-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-fizika-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-kimya">
Kimya
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-kimya-kimya">
Kimya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-kimya-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-kimya-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-tarix">
Tarix
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-tarix-tarix">
Tarix
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-tarix-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-tarix-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-cografiya">
Coğrafiya
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-cografiya-cografiya">
Coğrafiya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-cografiya-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-cografiya-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-biologiya">
Biologiya
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-biologiya-biologiya">
Biologiya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-biologiya-mentiq">
Məntiq
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-biologiya-kurikulum">
Kurikulum
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-ibtidai">
İbtidai
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ibtidai-azerbaycan-dili">
Azərbaycan dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ibtidai-riyaziyyat">
Riyaziyyat
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ibtidai-kurikulum">
Kurikulum
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-ibtidai-mentiq">
Məntiq
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/miq-informatika">
İnformatika
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-informatika-informatika">
İnformatika
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/miq-informatika-kurikulum">
Kurikulum
</a>
</div></li></ul></li></ul> </li>
<li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link nav-expand-link nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent">
Abituriyent </a>
</div>
<ul class="nav-items nav-expand-content"> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent-i-blok-qrup">
I Blok (Qrup)
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-i-blok-qrup-fizika">
Fizika
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-i-blok-qrup-kimya">
Kimya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-i-blok-qrup-riyaziyyat">
Riyaziyyat
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent-ii-blok-qrup">
II Blok (Qrup)
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-ii-blok-qrup-riyaziyyat">
Riyaziyyat
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-ii-blok-qrup-cografiya">
Coğrafiya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-ii-blok-qrup-tarix">
Tarix
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent-iii-blok-qrup">
III Blok (Qrup)
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iii-blok-qrup-azerbaycan-dili">
Azərbaycan dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iii-blok-qrup-edebiyyat">
Ədəbiyyat
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iii-blok-qrup-tarix">
Tarix
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent-iv-blok-qrup">
IV Blok (Qrup)
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iv-blok-qrup-biologiya">
Biologiya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iv-blok-qrup-kimya">
Kimya
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-iv-blok-qrup-fizika">
Fizika
</a>
</div></li></ul> <li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link {$arrowHTML} nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/abituriyent-buraxilis">
Buraxılış
</a>
</div><ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-buraxilis-azerbaycan-dili">
Azərbaycan dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-buraxilis-ingilis-dili">
İngilis dili
</a>
</div> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/abituriyent-buraxilis-riyaziyyat">
Riyaziyyat
</a>
</div></li></ul></li></ul> </li>
<li class="nav-item nav-expand">
<div class="parent-nav">
<span class="nav-link nav-expand-link nav-right-arrow" href="#">
<i class="icon-angle-right"></i>
</span>
<a class="nav-a" href="search/category/diq">
DİQ </a>
</div>
<ul class="nav-items nav-expand-content"> <li class="nav-item ">
<div class="parent-nav">
<a class="nav-a" href="search/category/diq-direktorlarin-ise-qebulu">
Direktorların İşə Qəbulu
</a>
</div></li></ul> </li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="/haqqimizda/">
<i class="icon-doc-text"></i> Haqqımızda
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/emekdasliq">
<i class="icon-user-circle"></i> Əməkdaşlıq
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/tez-tez-verilen-suallar/">
<i class="icon-question-circle-o"></i> Tez-tez verilən suallar
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/elaqe/">
<i class="icon-phone"></i> Əlaqə
</a>
</li>
</ul>
</nav>
</span>
<div id="closemenuBTN" class="close-menu">
<div class="close-btn">
<i class="icon-cancel"></i>
</div>
</div>
<a href="/" class="mobile-loqo">

<img src="/assets/logo-m.png" width="45px" />
</a>
<div class="login-area">
<a class="btn btn-outline-primary log" href="https://kurikulum.az/login">
Daxil Ol </a>
<a class="btn btn-outline-primary reg" href="https://kurikulum.az/registration">
Qeydiyyat </a>
</div>
</div>
</div>
</div>
</header>

<section class="intro" style="background-image: url(/uploads/images/statics/713962935fccf30f7d1aaaaaaaaaaaaaaaaa.jpg)">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-12 col-sm-12 text-center intro-text-area d-none d-sm-block">
<div class="text-slider d-none d-sm-block">
<h3></h3>
</div>
<div class="list-slider d-none d-sm-block">
</div>

<div class="text-slider d-block d-sm-none">
<h4> HƏR ZAMAN HƏR YERDƏ ÖYRƏNMƏ İMKANI</h4>
</div>
</div>
</div>
</div>
</section>


<section class="courses">
<div class="container">
    @RenderBody()
</div>
</section>

<style>
	.owl-carousel.owl-drag .owl-item{
		background: transparent;
	}
	#why-carusel .owl-item:last-child {
	  display: none;
	}
</style>
<section class="why-we" style="background-color: #f5f5f5; ">
<div class="container">
<div class="row" style="background-color: #f5f5f5;">
<div class="col-md-4 text-center" style="background-color: #f5f5f5;">
<div class="why-icon text-center">
<img src="/uploads/images/features/08f1c83585Security.png" width="40" alt>
</div>
<h1 class="why-title">
100% TƏHLÜKƏSİZ SİSTEM </h1>
<p class="why-description">
<p><span style="font-size:14px"><strong>Kurikulum ETP şəxsi məlumatlarınızın gizliliyinə zəmanət verməklə yanaşı heç bir halda üçüncü şəxs və ya qurumlara ötürülməməsini təmin edir.</strong></span></p>
</p>

</div>
<div class="col-md-4 text-center" style="background-color: #f5f5f5;">
<div class="why-icon text-center">
<img src="/uploads/images/features/4ff5f189f8Tecrube.png" width="40" alt>
</div>
<h1 class="why-title">
BEYNƏLXALQ TƏCRÜBƏ </h1>
<p class="why-description">
<p><span style="font-size:14px"><strong>Biz daima elektron (online) tədris sahəsində beynəlxalq təcrübəni araşdırır və yerli publikaya uyğun gələn yenilikləri platformamıza tətbiq edirik.</strong></span></p>
</p>

</div>
<div class="col-md-4 text-center" style="background-color: #f5f5f5;">
<div class="why-icon text-center">
<img src="/uploads/images/features/33197906c8Limitsiz-izleme.png" width="40" alt>
</div>
<h1 class="why-title">
24/7 LİMİTSİZ İZLƏMƏ </h1>
<p class="why-description">
<p><span style="font-size:14px"><strong>Dərsləri istifadə müddətinin sonunadək  24/7 limitsiz izləyə bilərsiniz. Sonradan əlavə edilmiş və redaktə olunmuş materialları izləmək üçün ödəniş tələb olunmur.</strong></span></p>
</p>

</div>
</div>
</div>
</section>

<section class="newsletter">
<div class="container">
<div class="row text-center">
<div class="col-md-6 text newsletter-form">
<h2>Bülletenimizə Yazılaraq</h2>
<h3>Yeniliklərdən Xəbərdar Ola Bilərsiniz</h3>
<form action method="post" id="newsletterform">
<input type="email" class="email" name="newsletter-email" value placeholder="e-poçt ünvanınızı yazın ...">
<input type="image" id="newsletter_submit" class="gonder" src="https://kurikulum.az/assets/img/plus.png" width="27">
</form>
</div>
<div class="col-md-6 text-center newsletter-img">
<img src="https://kurikulum.az/assets/img/newsletter.png" alt>
</div>
</div>
</div>
</section>

<footer class="footer">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-8 col-xs-12">
<ul>
<li><a href="/">Ana Səhifə</a></li>
<li><a href="/haqqimizda">Haqqımızda</a></li>
<li><a href="/emekdasliq">Əməkdaşlıq</a></li>
<li><a href="/tez-tez-verilen-suallar">Tez-tez verilən suallar</a></li>
<li><a href="/elaqe">Əlaqə</a></li>
</ul>
<div class="clearfix"></div>
<a href="https://www.facebook.com/kurikulumpro/" class="footersocial"><img src="https://kurikulum.az/assets/img/facebook.png"></a>

<a href="https://www.instagram.com/kurikulum.az" class="footersocial"><img src="https://kurikulum.az/assets/img/instagram.png"></a>




<a href="/istifadeci-sertleri/" class="altlink">İstifadə Şərtləri</a>

</div>
<div class="col-md-4 col-sm-4 col-xs-12  text-right copy">
<a href="./"><img src="https://kurikulum.az/assets/img/logo2.png"></a>
<p>2018 © Bütün hüquqlar qorunur.</p>


</div>
</div>
</div>
</div>
</footer>

</main>

<div class="modal fade modallogin" id="registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<div id="logreg-forms">
<div class="col-12">
<i class="icon-cancel login-popover-cancel" id="login-popover-cancel"></i>
</div>
<form class="form-signin px-0 loginform" action="javascript:login()" url="https://kurikulum.az/login">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center;margin-top: 0;margin-bottom: 10px;"> Daxil Ol</h1>

<div class="input-group col-lg-12 col-md-12 text-center  pr-4 pb-3">
<a href="/facebook/login.php" class="btn btn-md btn-rounded btn-block login-with-facebook form-control submit px-1 fbbutton" style="cursor: pointer;"><i class="icon-facebook-squared"></i>Facebook ilə daxil ol</a>
</div>
<div class="col-12 text-center">
<p>və yaxud</p>
</div>
<div class="input-group">
<input type="email" id="inputEmail" name="email" class="form-control" placeholder="E-Poçt ünvanınız" required autofocus>
</div>
<div class="input-group mt-2">
<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Şifrəniz" required>
</div>
<div class="hiddeninputs">
<input type="hidden" name="token" value="ec1e18b536b182e5d33f47c435ad9601">
</div>
<div class="logimnmsg"></div>

<button class="btn btn-md btn-rounded btn-block form-control submit pr-4" type="submit" id="loginbtn"><i class="icon-ok"></i> Daxil Ol</button>

<a href="#" id="forgot_pswd" class="mt-2 pb-0">Şifrəni unutumusunuz ?</a>
</form>
<form class="form-reset " action="javascript:forgetPassword()">
<input type="email" id="resetEmail" class="form-control px-0" placeholder="E-poçt ünvanınız" name="mail" required autofocus>
<div class="logimnmsg forgetmsg"></div>
<button class="btn btn-primary btn-block forgtrbtn" type="submit">Şifrəni yenilə</button>
<a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> < Geri</a>
</form>
<form action="javascript:regitsration()" class="form-signup px-0 pt-1 regform" id="registration1" url="https://kurikulum.az/registration">
<div class="row">
<div class="input-group col-lg-12 col-md-12 text-center  pr-4 pb-3">
<a href="/facebook/login.php" class="btn btn-md btn-rounded btn-block login-with-facebook form-control submit px-1 fbreg fbbutton"><i class="icon-facebook-squared"></i>Facebook ilə hesab aç</a>
</div>
<div class="col-12 text-center">
<p>və yaxud</p>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 regform">
<div class="form-group">
<label for="adsoyad">Adınız Soyadınız</label>
<input type="text" name="name" id="adsoyad" placeholder="Adınız Soyadınız" required>
</div>
<div class="form-group">
<label for="email">E-poçt ünvanınız</label>
<input type="email" name="email" id="email" placeholder="E-poçt ünvanınız" required>
</div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="form-group">
<label for="sifre">Şifrə</label><br>
<input type="password" name="password" id="sifre" placeholder="Şifrə" required aria-autocomplete="list">
</div>
<div class="form-group">
<label for="sifre2">Şifrə (Təkrar)</label>
<input type="password" name="re-password" id="sifre2" placeholder="Şifrə (Təkrar)" required>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 text-center regmsg">
</div>
<div class="col-md-12 col-sm-12 col-xs-12 text-center">
<label for="contract" class="contract">
<input type="checkbox" name="contracts" class="mychekbox" id="contract">
İstifadəçi şərtlərini qəbul edirəm.
</label>
</div>
<div class="hiddeninputs">
<input type="hidden" name="token" value="ec1e18b536b182e5d33f47c435ad9601">
</div>
<div class="clearfix"></div>
<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<button type="submit" id="regform" class="btn btn-md btn-rounded btn-block form-control submit"> <i class="icon-user-plus"></i> Qeydiyyat</button>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
<div id="sonuc"></div>
</div>
</div>
</form>
<br>
</div>
</div>
</div>
</div>
</div>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131296926-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  <!-- Global site tag (gtag.js) - Google Analytics -->
 </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131296926-1"></script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131296926-1');
</script> <input type="hidden" name="islogin" value="0">
<input type="hidden" name="mydevice" value="desktop">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://kurikulum.az/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="https://kurikulum.az/assets/js/toastr/toastr.min.js"></script>
<script src="https://kurikulum.az/assets/js/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kurikulum.az/assets/js/tickerme/tickerme.min.js"></script>
<script>$('#ticker').tickerme();</script>

<script src="https://kurikulum.az/assets/js/custom.js?v=666d79898d061"></script>
<script src="https://kurikulum.az/assets/js/home-desktop.js?v=666d798954c35"></script>
<script src="https://kurikulum.az/assets/js/home.js?v=666d798954c3c"></script>
<script src="https://kurikulum.az/assets/js/login.js?v=67862"></script>
<script type="text/javascript">
        // Right click disable
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
<script type="text/javascript">
    var offlinediv = document.getElementById('offline');
    window.addEventListener("offline", () =>{
        offlinediv.style.display = "flex"
    });
    window.addEventListener("online", () => {
        offlinediv.style.display = "none"
    });
</script>
<script>
$('[data-role="popover"]').popover();
</script>
<script>
    //hamburger mobile menu
    // console.clear();
    const navExpand = [].slice.call(document.querySelectorAll('.nav-expand'));
    const backLink = `<li class="nav-item">
	<a class="nav-link nav-back-link backmenu" href="javascript:;">
        <i class="icon-angle-left"></i> Geriyə
	</a>
</li>`;

    navExpand.forEach(item => {
        item.querySelector('.nav-expand-content').insertAdjacentHTML('afterbegin', backLink);
        item.querySelector('.nav-link').addEventListener('click', () => item.classList.add('active'));
        item.querySelector('.nav-back-link').addEventListener('click', () => item.classList.remove('active'));
    });


    // ---------------------------------------
    // not-so-important stuff starts here

    const ham = document.getElementById('ham');
    ham.addEventListener('click', function () {
        document.body.classList.toggle('nav-is-toggled');
    });
	function addmobilemenu(){
        document.body.classList.toggle('nav-is-toggled');
	}
    function quitmobilemenu() {
        document.body.classList.remove('nav-is-toggled');
    }
    // js scrol position
    var scrollTop = window.pageYOffset;
    console.log(scrollTop);

</script>
<script>
    $("body").on("click",".hamburger",function(){
        var element = document.getElementById("closemenuBTN");
        element.classList.toggle("close-menu-show");
    });
    $("body").on("click","#closemenuBTN",function(){
        // $(".hamburger").quitmobilemenu();
        $(".hamburger").click();
    });
</script>
<style>
    #wh-widget-send-button iframe {
        width: 100%;
        height: 100%!important;
        border: 0;
    }
</style>



<script type="text/javascript">
    $("body").on("click",".no_telimci",function(e){
        Swal.fire({
          type:  'info',
          title: "Məlumatlandırma", 
          html:  "Təlimçi modu 3 noyabr tarixində aktiv olacaq.",  
          confirmButtonText: "Anladım", 
        })
    });
</script>
</body>
</html>
