<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link coursetab active" id="pills-miq-tab" data-toggle="pill" href="#pills-miq" role="tab" aria-controls="pills-miq" aria-selected="true">MİQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link coursetab " id="pills-abituriyent-tab" data-toggle="pill" href="#pills-abituriyent" role="tab" aria-controls="pills-abituriyent" aria-selected="false">Abituriyent</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-miq" role="tabpanel" aria-labelledby="pills-miq-tab">
                <div id="owl-carusel-courses" class="items carusel-courses owl-carousel owl-theme">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Coğrafiya I Tam proqram</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/uploads/images/subjects/b89e5557a3-Cografiya-miq.jpg?v=8" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            MİQ ● Repetitorlar
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Osman Eminov
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">
                                                <i class="rank-number">3.8 </i> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half-alt"></i><i class="icon-star-empty"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/cografiya-miq" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Fizika I İLLİK</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/images/subjects/531e2dbd661e66f3b46dfizika_miq.jpg?v=3" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            Tam proqram ● MİQ ● Sertifikasiya
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Amil Əkbərov
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">
                                                <i class="rank-number">4.2 </i> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/fizika-illik-ders" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Kimya I İLLİK</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/images/subjects/c5c8d03bbfmiq-kimya.jpg?v=5" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            Tam proqram ● MİQ ● Sertifikasiya
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Vüsal Əliyev
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">
                                                <i class="rank-number">5.0 </i> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/kimya-illik-ders" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <div class="tab-pane fade " id="pills-abituriyent" role="tabpanel" aria-labelledby="pills-abituriyent-tab">
                <div id="owl-carusel-courses" class="items carusel-courses owl-carousel owl-theme">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Fizika I İLLİK</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/uploads/images/subjects/3ff5cf1b15-Fizika-miq.jpg?v=3" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            ● I / IV Blok (Qrup) ● Repetitorlar | Fizika
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Amil Əkbərov
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">
                                                <i class="rank-number">5.0 </i> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/abituriyent-fizika-illik-365" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Coğrafiya | İLLİK</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/uploads/images/subjects/b89e5557a3-Cografiya-miq.jpg?v=2" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            ● II Blok (Qrup) ● Repetitorlar | Coğrafiya
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Osman Eminov
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">

                                                <i class="icon-star-empty"></i>
                                                <i class="icon-star-empty"></i>
                                                <i class="icon-star-empty"></i>
                                                <i class="icon-star-empty"></i>
                                                <i class="icon-star-empty"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/abituriyent-365-cografiya-illik" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-3 item">
                            <div class="thumbnail">
                                <div class="img">
                                    <p class="lesson-image-name" style="background-color: #e0a800;">Kimya | İLLİK</p>
                                    <img class="lazyload" data-src="https://cdn.ikincisayt.com/uploads/images/subjects/3c2ced6962-Kimya-miq.jpg?v=5" src="/assets/img/preloader.gif">
                                </div>
                                <div class="caption">
                                    <div class="course-name-div">
                                        <h1 class="course-name">
                                            ● I / IV Blok (Qrup) ● Repetitorlar | Kimya
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <div class="pr0 teacher-name">
                                            <i class="icon-user-1"></i>
                                            Vüsal Əliyev
                                        </div>
                                        <div class="text-right course-ranking">
                                            <span class="course-rank course-rank1">
                                                <i class="rank-number">5.0 </i> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mlr0">
                                        <div class="pr0 price-item price-and-discount">
                                            <span class="price" style="float: left; border: 1px solid #e0a800;padding: 6px 35px 6px 35px;">
                                                <span class="discounted-price">
                                                    <span class="float-left" style="margin-left: 10px;">
                                                        50.00
                                                    </span>
                                                    <img src="/assets/img/manat.png" class="manathome">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-center add-cart-item">
                                            <a href="/lesson/abituriyent-kimya-illik-365" target="_blank" class="btn btn-danger add-to-cart-btn">
                                                Ətraflı
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


